<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consulting Services - Freebird Consultation Inc</title>

    <link rel="stylesheet" href="/public/css/modern-business.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</head>

<body>

    {{>header}}

    <br />

    <div class="card">

        <div class="container">

            <div class="card-body">

                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 1</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 2</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 3</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 4</a>
                    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Get Doc</a>
                </nav>


                <br />

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>

        </div>
    </div>


    <br />

    <div class="card">

        <div class="container">

            <div class="card-body">

                <div class="d-flex" >
                    
                    <div class="mr-auto p-2">
                        <h1>Document Type</h1>
                    </div>
                    <div class="p-2">
                        <button id="download" type="button" class="btn btn-success btn-lg"  >Download</button>
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>

    <br />

    <div class="card">

        <div class="container">

            <div class="card-body">

                <div style="height:800px;overflow:scroll">
                    <h3>Testing Document</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Semper feugiat nibh sed pulvinar. Risus viverra adipiscing at in
                        tellus integer feugiat scelerisque varius. Tellus in metus vulputate eu. A scelerisque purus
                        semper eget duis at tellus at urna. Urna neque viverra justo nec ultrices. Fermentum leo vel
                        orci porta non pulvinar neque laoreet. Lorem ipsum dolor sit amet consectetur. Enim blandit
                        volutpat maecenas volutpat. Ultrices vitae auctor eu augue ut lectus. Rutrum tellus pellentesque
                        eu tincidunt tortor aliquam nulla facilisi. Porta nibh venenatis cras sed felis eget velit.

                        Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Sit amet luctus venenatis
                        lectus. Nisl purus in mollis nunc sed. Vitae purus faucibus ornare suspendisse sed. Ut enim
                        blandit volutpat maecenas volutpat blandit aliquam etiam. Arcu ac tortor dignissim convallis
                        aenean et. Purus sit amet volutpat consequat mauris nunc congue nisi. Elit duis tristique
                        sollicitudin nibh sit amet commodo. Tempor nec feugiat nisl pretium fusce id velit ut tortor.
                        Ornare suspendisse sed nisi lacus. Sem fringilla ut morbi tincidunt augue interdum velit
                        euismod. Sed tempus urna et pharetra pharetra massa. Sollicitudin aliquam ultrices sagittis orci
                        a.

                        Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Facilisis mauris sit amet massa vitae
                        tortor condimentum. Porttitor lacus luctus accumsan tortor posuere. Ac placerat vestibulum
                        lectus mauris ultrices. Laoreet non curabitur gravida arcu ac. Dictum varius duis at consectetur
                        lorem donec massa. Sed nisi lacus sed viverra tellus in hac habitasse platea. Pellentesque
                        pulvinar pellentesque habitant morbi. Eget mauris pharetra et ultrices neque ornare aenean.
                        Tempus egestas sed sed risus pretium quam vulputate. Ultrices sagittis orci a scelerisque purus
                        semper eget duis at. Pulvinar proin gravida hendrerit lectus.

                        Sodales ut eu sem integer vitae justo eget magna fermentum. Diam phasellus vestibulum lorem sed
                        risus. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Eros donec ac odio tempor
                        orci dapibus ultrices in. Adipiscing enim eu turpis egestas pretium aenean pharetra. Gravida
                        arcu ac tortor dignissim. Et malesuada fames ac turpis egestas integer eget aliquet nibh.
                        Volutpat sed cras ornare arcu dui vivamus arcu felis bibendum. Tempor commodo ullamcorper a
                        lacus vestibulum. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Eget magna
                        fermentum iaculis eu non diam phasellus.

                        Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare. Volutpat
                        lacus laoreet non curabitur. Semper risus in hendrerit gravida rutrum quisque non tellus orci.
                        Maecenas sed enim ut sem viverra aliquet. Ornare suspendisse sed nisi lacus sed. Sed ullamcorper
                        morbi tincidunt ornare. Eu augue ut lectus arcu bibendum at. Blandit libero volutpat sed cras
                        ornare. Nisl purus in mollis nunc sed id. Volutpat ac tincidunt vitae semper quis lectus. Amet
                        purus gravida quis blandit turpis. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula
                        ullamcorper. Proin libero nunc consequat interdum varius sit amet mattis. Enim ut sem viverra
                        aliquet eget sit amet tellus cras. Egestas erat imperdiet sed euismod. Leo vel fringilla est
                        ullamcorper eget nulla facilisi etiam. Nunc id cursus metus aliquam eleifend mi in. Vestibulum
                        morbi blandit cursus risus at ultrices.

                        Arcu non sodales neque sodales ut etiam sit amet nisl. Sit amet nulla facilisi morbi tempus.
                        Feugiat nibh sed pulvinar proin. Dui ut ornare lectus sit amet est placerat in egestas. Aliquam
                        ut porttitor leo a diam sollicitudin tempor id eu. Id nibh tortor id aliquet lectus proin nibh
                        nisl condimentum. Egestas diam in arcu cursus. Aliquet nibh praesent tristique magna sit amet
                        purus. Placerat in egestas erat imperdiet sed euismod nisi porta. Lacus suspendisse faucibus
                        interdum posuere lorem ipsum dolor sit. Viverra tellus in hac habitasse platea dictumst
                        vestibulum rhoncus. Quis risus sed vulputate odio. At urna condimentum mattis pellentesque id
                        nibh tortor. Semper eget duis at tellus at urna condimentum mattis pellentesque. Commodo nulla
                        facilisi nullam vehicula ipsum a arcu cursus vitae. Adipiscing bibendum est ultricies integer
                        quis auctor elit sed.

                        Pretium nibh ipsum consequat nisl vel. Nunc sed id semper risus in hendrerit gravida rutrum
                        quisque. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Nulla facilisi
                        cras fermentum odio eu feugiat pretium. Commodo ullamcorper a lacus vestibulum sed arcu non odio
                        euismod. Ac odio tempor orci dapibus. Pulvinar mattis nunc sed blandit libero volutpat sed cras
                        ornare. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Eu
                        augue ut lectus arcu bibendum at varius vel. Sed vulputate odio ut enim blandit. Vestibulum
                        lectus mauris ultrices eros. Mauris a diam maecenas sed enim. Auctor augue mauris augue neque
                        gravida in fermentum et sollicitudin. Velit aliquet sagittis id consectetur purus ut faucibus
                        pulvinar. Dui vivamus arcu felis bibendum. Sagittis aliquam malesuada bibendum arcu vitae
                        elementum. Quam vulputate dignissim suspendisse in est ante in.

                        Sed faucibus turpis in eu mi bibendum neque egestas. Euismod nisi porta lorem mollis aliquam ut
                        porttitor leo a. Integer malesuada nunc vel risus commodo. Vulputate ut pharetra sit amet.
                        Feugiat sed lectus vestibulum mattis. Gravida in fermentum et sollicitudin ac orci phasellus. Ut
                        placerat orci nulla pellentesque dignissim. Vel turpis nunc eget lorem dolor sed viverra ipsum.
                        Habitant morbi tristique senectus et netus et. Aliquet sagittis id consectetur purus ut
                        faucibus. Risus sed vulputate odio ut enim blandit volutpat. Netus et malesuada fames ac turpis
                        egestas integer. Velit aliquet sagittis id consectetur purus ut faucibus. Consequat ac felis
                        donec et odio pellentesque. Lacus laoreet non curabitur gravida arcu ac. Amet aliquam id diam
                        maecenas ultricies mi eget. Donec ac odio tempor orci dapibus ultrices in.

                        Maecenas sed enim ut sem viverra aliquet eget sit amet. Etiam non quam lacus suspendisse
                        faucibus interdum. Aliquam faucibus purus in massa tempor nec feugiat nisl. Donec massa sapien
                        faucibus et molestie ac feugiat sed lectus. Gravida cum sociis natoque penatibus et. Amet justo
                        donec enim diam vulputate. Facilisi nullam vehicula ipsum a arcu cursus. Hendrerit dolor magna
                        eget est lorem ipsum dolor sit amet. Viverra suspendisse potenti nullam ac tortor vitae purus
                        faucibus. Donec ac odio tempor orci dapibus. At consectetur lorem donec massa. Nec nam aliquam
                        sem et. Rhoncus mattis rhoncus urna neque viverra. Nibh nisl condimentum id venenatis a
                        condimentum vitae. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat.
                        Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Viverra suspendisse potenti nullam
                        ac. Sit amet cursus sit amet dictum sit amet. A erat nam at lectus.

                        Cursus turpis massa tincidunt dui ut ornare lectus. Vitae aliquet nec ullamcorper sit. Iaculis
                        nunc sed augue lacus viverra vitae congue eu. Tortor at auctor urna nunc id cursus metus
                        aliquam. Sagittis nisl rhoncus mattis rhoncus. Feugiat sed lectus vestibulum mattis ullamcorper.
                        Ante metus dictum at tempor commodo. A erat nam at lectus. Fermentum et sollicitudin ac orci
                        phasellus. Quis eleifend quam adipiscing vitae. Morbi leo urna molestie at elementum eu
                        facilisis sed. Scelerisque felis imperdiet proin fermentum leo vel orci porta.

                        Habitant morbi tristique senectus et netus et malesuada fames ac. Eget nunc lobortis mattis
                        aliquam. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Egestas pretium
                        aenean pharetra magna ac placerat vestibulum. Urna cursus eget nunc scelerisque. Vulputate
                        dignissim suspendisse in est ante in nibh. Diam maecenas sed enim ut. Sed cras ornare arcu dui
                        vivamus. Hac habitasse platea dictumst quisque sagittis purus sit amet. Ultricies tristique
                        nulla aliquet enim tortor at auctor urna nunc. Cras fermentum odio eu feugiat pretium nibh ipsum
                        consequat nisl. In iaculis nunc sed augue lacus viverra. Elit pellentesque habitant morbi
                        tristique. In pellentesque massa placerat duis ultricies lacus. Accumsan lacus vel facilisis
                        volutpat est velit egestas dui id. Tempor orci dapibus ultrices in iaculis nunc sed. Elementum
                        nisi quis eleifend quam adipiscing vitae proin sagittis. Maecenas sed enim ut sem viverra
                        aliquet eget sit. Volutpat lacus laoreet non curabitur. Aliquet porttitor lacus luctus accumsan
                        tortor posuere ac ut.

                        Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Aliquet lectus proin nibh nisl
                        condimentum id. Facilisis leo vel fringilla est. Iaculis eu non diam phasellus vestibulum lorem
                        sed risus ultricies. Mauris nunc congue nisi vitae suscipit tellus mauris. Orci ac auctor augue
                        mauris augue neque gravida in. Tellus in metus vulputate eu scelerisque felis. Id diam vel quam
                        elementum pulvinar etiam non. Massa tempor nec feugiat nisl pretium. Ullamcorper velit sed
                        ullamcorper morbi tincidunt ornare massa eget egestas.

                        Felis imperdiet proin fermentum leo vel orci porta. Non enim praesent elementum facilisis. Augue
                        interdum velit euismod in. Etiam tempor orci eu lobortis elementum nibh. Dignissim cras
                        tincidunt lobortis feugiat vivamus. Ut sem viverra aliquet eget sit amet. Condimentum id
                        venenatis a condimentum vitae sapien pellentesque habitant. Massa tincidunt nunc pulvinar sapien
                        et ligula. Ut etiam sit amet nisl purus in mollis. Neque viverra justo nec ultrices dui.
                        Pharetra et ultrices neque ornare. Vulputate enim nulla aliquet porttitor lacus luctus. Magna
                        sit amet purus gravida quis blandit turpis cursus. Vitae nunc sed velit dignissim sodales. Sed
                        euismod nisi porta lorem. Praesent elementum facilisis leo vel fringilla. Enim nulla aliquet
                        porttitor lacus luctus. Volutpat maecenas volutpat blandit aliquam. Id nibh tortor id aliquet
                        lectus proin nibh nisl condimentum. A pellentesque sit amet porttitor eget dolor morbi non arcu.

                        Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod. Sapien faucibus et
                        molestie ac. Tincidunt arcu non sodales neque. Sem nulla pharetra diam sit amet nisl suscipit.
                        Lacus suspendisse faucibus interdum posuere lorem ipsum. Vitae nunc sed velit dignissim sodales.
                        Tristique senectus et netus et malesuada. Aliquet enim tortor at auctor urna nunc id cursus.
                        Nulla facilisi morbi tempus iaculis urna id. Duis at consectetur lorem donec massa. Proin libero
                        nunc consequat interdum varius sit amet mattis vulputate. Sagittis id consectetur purus ut
                        faucibus pulvinar elementum. Lacus viverra vitae congue eu consequat.

                        Ultrices tincidunt arcu non sodales neque sodales. Malesuada fames ac turpis egestas integer
                        eget aliquet nibh. Fusce id velit ut tortor pretium. Enim neque volutpat ac tincidunt vitae
                        semper quis. Praesent semper feugiat nibh sed pulvinar. Aliquam purus sit amet luctus venenatis
                        lectus magna fringilla. Metus dictum at tempor commodo ullamcorper. Diam quis enim lobortis
                        scelerisque fermentum dui faucibus in ornare. Neque ornare aenean euismod elementum. Fermentum
                        iaculis eu non diam phasellus vestibulum. Ultrices eros in cursus turpis. Libero justo laoreet
                        sit amet cursus. Faucibus a pellentesque sit amet. Neque egestas congue quisque egestas diam in
                        arcu. Risus sed vulputate odio ut enim. Egestas sed tempus urna et pharetra pharetra massa massa
                        ultricies. Eget magna fermentum iaculis eu non. Volutpat lacus laoreet non curabitur gravida
                        arcu ac tortor dignissim.</p>
                </div>

            </div>

        </div>
    </div>



    <br />

    {{>footer}}

    

    <script type="text/javascript">
        document.getElementById("download").onclick = function () {
            location.href = "/pricing";
        };
    </script>

</body>

</html>