<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Consulting Services - Freebird Consultation Inc</title>

    <link rel="stylesheet" href="/public/css/modern-business.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</head>

<body>

    {{>header}}

    <br />

    <div class="card">

        <div class="container">

            <div class="card-body">

                <nav class="nav nav-pills flex-column flex-sm-row">
                    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Step 1</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 2</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 3</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Step 4</a>
                    <a class="flex-sm-fill text-sm-center nav-link" href="#">Get Doc</a>
                </nav>


                <br />

                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>

            </div>

        </div>
    </div>


    <br />

    <div class="card">
        <div class="container">
            <div class="card-body">
                <h2>What Type?</h2>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div data-toggle="buttons" class="btn-group itemcontent">
                            <label class="btn btn-secondary">
                                <div class="itemcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="fa fa-car fa-2x"></span>
                                    <h5>car</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <br />

    <div class="container" >
        <button id="continue" type="button" class="btn btn-primary btn-lg">Next</button>
    </div>

    <br/>

    {{>footer}}

    <script type="text/javascript">
        document.getElementById("continue").onclick = function () {
            location.href = "/questionnaire-2";
        };
    </script>

</body>

</html>


